
body {
    /*width: 250px; larghezza senza expand */
    width: max-content;
    height: auto;
}

#btn-question {
    width: 25px;
    height: 25px;
    margin-top: 2px;
}

#btn-question path {
    fill: var(--bs-danger);
}

#btn-on-off {
    width: 65px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    fill: var(--bs-success);
    transition: filter 0.1s;
}

.btn-on {
    filter: brightness(2);
}

.btn-off {
    filter: brightness(1);
}

#btn-on-off:hover {
    filter: brightness(1.5);
}

#btn-on-off:active {
    filter: brightness(0.8);
}

#btn-reset {
    width: 17px;
    height: auto;
    transition: transform 0.5s;
}

.rotate-360 {
    transform: rotate(-360deg);
}

.divider {
    height: 2px;
    width: 100%;
    background-color: var(--fourth-color);
}

.divider-vertical {
    height: 90%;
    width: 2px;
    background-color: var(--fourth-color);
    border-radius: 50px;
}

.main-content {
    width: 83%;
    max-width: 250px;
    margin-right: 16px;
    margin-left: 16px;
}

.align-items-center {
    align-items: center;
}

/*
    COLORS
*/
.first-color { 
	background-color: var(--first-color); 
}

.second-color { 
	background-color: var(--second-color); 
}

.third-color { 
	background-color: var(--third-color); 
}

.text-color { 
    color: var(--fourth-color);
}

.success-color {
    color: var(--success-color);
}

:root {

    --first-color: #233142;
    --second-color: #455d7a;
    --third-color: #f95959;
    --fourth-color: #e3e3e3;
}