body {
    /*width: 250px; larghezza senza expand */
    width: max-content;
    height: auto;
}

#btn-question {
    width: 25px;
    height: 25px;
    margin-top: 2px;
}

#btn-question path {
    fill: var(--bs-danger);
}

#btn-on-off {
    width: 65px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    fill: var(--bs-success);
    transition: filter 0.1s;
}

.btn-on {
    filter: brightness(2);
}

.btn-off {
    filter: brightness(1);
}

#btn-on-off:hover {
    filter: brightness(1.5);
}

#btn-on-off:active {
    filter: brightness(0.8);
}

#btn-reset {
    width: 17px;
    height: auto;
    transition: transform 0.5s;
}

#rule-details {
    height: 0px;
    border-radius: 1rem;
    /*transition: height 0.5s, opacity 0.5s;*/
}

#rule-details-text {
    opacity: 0;
    /*transition: opacity 0.5s;*/
}

.expanded {
    height: 200px; 
}

.visible {
    opacity: 1!important;
}

.rotate-360 {
    transform: rotate(-360deg);
}

.divider {
    height: 2px;
    width: 100%;
    background-color: var(--fourth-color);
}

.divider-vertical {
    height: 90%;
    width: 2px;
    background-color: var(--fourth-color);
    border-radius: 50px;
}

.main-content {
    width: 83%;
    max-width: 250px;
    margin-right: 16px;
    margin-left: 16px;
}

.align-items-center {
    align-items: center;
}

.custom-tooltip:hover::before {
    content: attr(title);
    background-color: #333; /* Colore di sfondo del tooltip */
    color: #fff; /* Colore del testo del tooltip */
    padding: 5px; /* Spazio interno del tooltip */
    position: absolute;
    z-index: 1; /* Assicura che il tooltip sia sopra gli altri elementi */
    border-radius: 5px; /* Bordo arrotondato */
    font-size: 14px; /* Dimensione del testo del tooltip */
}

/* Stile specifico per il tooltip "accepted" */
.accepted-tooltip:hover::before {
    left: 100%; /* Posiziona il tooltip a destra del div */
    top: 0; /* Posiziona il tooltip allineato con l'alto del div */
}

/* Stile specifico per il tooltip "rejected" */
.rejected-tooltip:hover::before {
    right: 100%; /* Posiziona il tooltip a sinistra del div */
    top: 0; /* Posiziona il tooltip allineato con l'alto del div */
}

/*
    COLORS
*/
.first-color { 
	background-color: var(--first-color); 
}

.second-color { 
	background-color: var(--second-color); 
}

.third-color { 
	background-color: var(--third-color); 
}

.text-color { 
    color: var(--fourth-color);
}

.text-color-red {
    color: var(--third-color)
}

.success-color {
    color: var(--success-color);
}

:root {

    --first-color: #1E1E2C;
    --second-color: #2D2D44;
    --third-color: #f95959;
    --fourth-color: #e3e3e3;
}